#Ignora cartelle e file di build
/build
/dist
/bin
*.spec
/__pycache__
.vscode
/.vs
/FrizzaBot/obj

#Ingora i file node del bot
FrizzaBot/node_modules
.env
FrizzaBot/config.json

#Ignora i file di test e vari
/FrizzaBot/commands/utility/ping.js_test